<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Groups</key>
	<array>
		<dict>
			<key>headerHeight</key>
			<string>0</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>头条</string>
					<key>icon</key>
					<string>docs</string>
				</dict>
				<dict>
					<key>title</key>
					<string>分类</string>
					<key>icon</key>
					<string>category</string>
					<key>storyBoard</key>
					<string>Category</string>
				</dict>
				<dict>
					<key>title</key>
					<string>图片</string>
					<key>icon</key>
					<string>album</string>
				</dict>
				<dict>
					<key>title</key>
					<string>天气</string>
					<key>icon</key>
					<string>cloud</string>
				</dict>
				<dict>
					<key>title</key>
					<string>消息</string>
					<key>icon</key>
					<string>mail</string>
				</dict>
				<dict>
					<key>title</key>
					<string>网络</string>
					<key>icon</key>
					<string>wifi</string>
				</dict>
				<dict>
					<key>title</key>
					<string>发现</string>
					<key>icon</key>
					<string>discovery</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerHeight</key>
			<string>20</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>收藏</string>
					<key>icon</key>
					<string>favorite</string>
				</dict>
				<dict>
					<key>title</key>
					<string>历史</string>
					<key>icon</key>
					<string>history</string>
				</dict>
				<dict>
					<key>New item</key>
					<string></string>
					<key>title</key>
					<string>任务</string>
					<key>icon</key>
					<string>task</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerHeight</key>
			<string>20</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>设置</string>
					<key>icon</key>
					<string>settings</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
